<head th:fragment="head" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{fonts/font-awesome.min.css}">
    <style>
        .alert-top{
            position: fixed;
            top: 60px; 
            left: 2%;
            width: 96%;
        }
    </style>
</head>
