<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>    
    <body>
        <nav th:replace="fragments/navbar :: nav_bar"></nav>
        <header class="masthead" style="background-image:url('img/home-bg.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <div class="site-heading">
                            <h1>Biblioteca</h1><span class="subheading">Gestión de Libros</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div role="dialog" tabindex="-1" class="modal fade" id="modal-login">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ingreso</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/login}" method="POST">
                                <div class="form-row">
                                    <div class="col"><label class="col-form-label">Usuario</label></div>
                                    <div class="col"><input type="text" class="form-control" id="usuario" name="usuario"/></div>
                                </div>
                                <div class="form-row">
                                    <div class="col"><label class="col-form-label">Contraseña</label></div>
                                    <div class="col"><input type="password" class="form-control" id="contrasenia" name="contrasenia"/></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="submit" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" type="button">Ingresar</button></div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/footer :: footer"></footer>
        <div th:replace="fragments/scripts :: scripts"></div>
    </body>
</html>